{% extends "base.html" %}
{% block head %}

<script type="text/javascript">

  var callMath = function (libs){
    var l = libs.length;
    var libsJS = [];
    for(var i=1; i<l; i++){
	    lib = libs[i];
	    libsJS.push(lib + '.js');
    }
    window.MathJax = {
        TeX: {
            extensions: libsJS
	},
	extensions: ["tex2jax.js","AssistiveMML.js"],
	showMathMenu: false
    };

    var head = document.getElementsByTagName("head")[0], script;
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML";
    head.appendChild(script);
  }

  tags = [{% for tag in article.tags %} "{{ tag }}",  {% endfor %}];
  var l = tags.length;
  var mathjax = false;
  for(var i=0; i<l; i++){
    tag = tags[i];
    if (tag.slice(0,7) === 'mathjax'){
      libs = tag.split('-');
      callMath(libs);
    }
  }

</script>

<meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
  <div class="article_title">
    <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
  </div>
  <div class="article_text">
    {{ article.content }}
  </div>
  <div class="article_meta">
    <p>Publicado el {{ article.locale_date }}</p>
    {% if article.modified %}
    <p>Modificado el {{ article.modified }}</p>
    {% endif %}
    <p>Categorias: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% if article.tags %} &ndash; Tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if DISQUS_SITENAME %}
  <div id="article_comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
  </div>
  {% endif %}

</article>
{% endblock %}
