body {
	background-color : #F0EAD6;
	color :	#472F17;
}

body a {
	color : #660000;
}

body a:visited  {
	color : #996600;
}

body a:link {
	color : #660066;
}

header {
	background-color : #472F17;
}

header h1 {
	text-align : center;	
	color : #F0EAD6;
}

main {
	width : 65%;
}

aside {
	float : right;
	position : relative;
	width : 30%
}

footer {
  	font-size : small;
	width : auto;
	color : #7D6D37;
}
